.href{
    text-decoration: none;
    color: black;
    border: 1px rgba(0, 0, 0, 0.322) solid;

}
nav{
    margin-left: 25%;
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}